[user]
	name = Makiuchi Keiichiro
	email = makiuchi.k1low@gmail.com
[gui]
	encoding = utf-8
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
